<div class="backlog_item">
    <div class="backlog_item-left">
        <mat-icon style="color: chartreuse;">turned_in</mat-icon>
        <button type="button" class="btn btn_itemlink btn-link m-3" (click)="onClickDetail(item)">{{item?.name}}</button>
        <p class="m-3">{{item?.description}}</p>
    </div>
    <div class="backlog_item-right">
        
        <span style="font-weight: bold;" class="{{item?.process}}" >{{item?.process}}</span>
        <mat-icon>account_circle</mat-icon>
    </div>
</div>