.backlog_item-left{
display: flex;
align-items: center;
}

.backlog_item-right{
    display: flex;
    align-items: center;
}

.backlog_item-right span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100px;
    border-radius: 20px;
}


.backlog_item{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.inprogress {
    background-color: rgb(168, 168, 194);
    color: blue;
}
.done {
    background-color: rgb(217, 235, 210);
    color: green;
}
.todo{
    background-color: azure;
    color: black;
}

.btn_itemlink{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5 em;
}

