<div class="backlog_item">
    <div class="backlog_item-left">
        <mat-icon style="color: chartreuse;">turned_in</mat-icon>
        <button type="button" class="btn btn-link m-3" (click)="onClickDetail(item)">{{item?.name}}</button>
        <p class="m-3">{{item?.description}}</p>
    </div>
    <div class="backlog_item-right">
        
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
        


        <mat-icon>account_circle</mat-icon>
    </div>
</div>