<div class="example-container">
    <h2>To do<span *ngIf="tasks.length > 0"> - {{tasks.length}}</span></h2>
    <div
      cdkDropList
      [cdkDropListData]="tasks"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of tasks; let i = index" cdkDrag>{{item.description}}
        <div class="box">
            <button mat-icon-button color="warn" (click)="deleteTask(i)"><mat-icon>delete</mat-icon></button>
            <button mat-icon-button color="warn" (click)="editTask(item,i)"><mat-icon>edit</mat-icon></button>
        </div>
      </div>
    </div>
  </div>