.example-container {
    max-width: 100%;
    margin: 0 25px 25px 0;

  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 30px;
    background: white;
    border-radius: 4px;
  }
  
  .example-box {
    padding: 10px 20px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    background: white;
    font-size: 14px;
    transition: background-image background-color 2.5s;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .example-box:hover{
    background-color: rgb(82, 184, 243); /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, yellow,  rgb(43, 119, 233));
  }

  .sprint{
    background-color: rgb(82, 184, 243); /* For browsers that do not support gradients */
    background-image: linear-gradient( rgb(86, 228, 173),  rgb(26, 85, 172));
  }

  .backlog{
    background-color: rgb(82, 184, 243); /* For browsers that do not support gradients */
    background-image: linear-gradient( rgb(253, 130, 233),  rgb(213, 231, 50));
  }
  
