
  


  
<div class="content row" cdkDropListGroup >
    <div class="col-8">
        <mat-accordion multi >
            <div style="margin: 20px; min-width: 100px;">
                <mat-expansion-panel class="sprint"  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Sprint
                        </mat-panel-title>
                        <mat-panel-description style="display: flex; justify-content: flex-end; padding: 10px;">
                            <button mat-mini-fab class="m-1" style="height: 70%;"
                                aria-label="Example icon button with a plus one icon">
                                {{countTodoSprint}}
                            </button>
                            <button mat-mini-fab class="m-1" style="background-color: dodgerblue; height: 70%;"
                                aria-label="Example icon button with a plus one icon">
                                {{countInprogressSprint}}
                            </button>
                            <button mat-mini-fab class="m-1" style="background-color: green; height: 70%;"
                                aria-label="Example icon button with a plus one icon">
                                {{countDoneSprint}}
                            </button>
                            
                            <button mat-raised-button
                                style=" background-color: rebeccapurple;margin-left: 10px; text-align: center;"><mat-icon
                                    style=" text-align: center;color: aliceblue; font-size: 20px;">more_horiz</mat-icon></button>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="example-container">
                        <div cdkDropList
                        [cdkDropListData]="sprint"
                        class="example-list"
                        (cdkDropListDropped)="dropSprint($event)">
                            <div class="example-box" *ngFor="let item of sprint" cdkDrag><app-backlog-item [item]="item"
                                    (dataDetailToParent)="receiveDataFromChild($event)"></app-backlog-item>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </div>
            <div style="margin: 20px; min-width: 100px;">
                <mat-expansion-panel class="backlog" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Back Log
                        </mat-panel-title>

                        <mat-panel-description style="display: flex; justify-content: flex-end; padding: 10px;">
                            <button mat-mini-fab class="m-1" style="height: 70%;"
                                aria-label="Example icon button with a plus one icon">
                                {{countTodoBacklog}}
                            </button>
                            <button mat-mini-fab class="m-1" style="background-color: dodgerblue; height: 70%;"
                                aria-label="Example icon button with a plus one icon">
                                {{countInprogressBacklog}}
                            </button>
                            <button mat-mini-fab class="m-1" style="background-color: green; height: 70%;"
                                aria-label="Example icon button with a plus one icon">
                                {{countDoneBacklog}}
                            </button>
                           
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="example-container">

                        <div cdkDropList
                        [cdkDropListData]="backlog"
                        class="example-list"
                        (cdkDropListDropped)="dropBacklog($event)">
                            <div class="example-box" *ngFor="let item of backlog" cdkDrag><app-backlog-item
                                    [item]="item"
                                    (dataDetailToParent)="receiveDataFromChild($event)"></app-backlog-item>
                            </div>
                        </div>
                    </div>

                </mat-expansion-panel>
            </div>
        </mat-accordion>
    </div>
    <div *ngIf="isDetailOpen" class="col-3">
        <app-detail-backlog *ngIf="isDetailOpen" [item]="item"
            (dataIsCloseToParent)="receiveIsCloseFromChild()"></app-detail-backlog>
    </div>
</div>


<!-- <div cdkDropListGroup>
    <div class="example-container">
      Sprint
      <div
        cdkDropList
        [cdkDropListData]="sprint"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of sprint" cdkDrag >
        {{item?.description}}   
        </div>
      </div>
    </div>
  </div> -->