
<div cdkDropListGroup>
  <div class="example-container" *ngFor="let task of allTask">
    <h5 class="text-center">{{task?.name}}<span *ngIf="task?.length > 0"> - {{task.data.length}}</span></h5>
    <div
      cdkDropList
      [cdkDropListData]="task.data"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of task.data" cdkDrag [cdkDragDisabled]="item.process === 'done' ? true : false">
          <app-sprint-item *ngIf="item.name && item.id && item.description" [isDone]="item.process === 'done' ? true : false" (dataToParentDelete)="receiveDataFromChildDelete($event)" (dataToParentUpdate)="receiveDataFromChildUpdate($event)" [isUpdating]="isUpdating" [item]="item"></app-sprint-item>
      </div>
    </div>
  </div>
</div>







