.detail-backlog-top {
    position: relative;
    margin: 5px;
    width: 100%;
}
.example-menu {
    display: inline-flex;
    position: absolute;
    flex-direction: column;
    min-width: 180px;
    max-width: 280px;
    background-color: rgba(255, 255, 255);
    padding: 6px 0;
    top: 300px;
    right: 200px;
  }
  
  .example-menu-item {
    background-color: transparent;
    background-color: aquamarine;
    cursor: pointer;
    border: none;
   
    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
  }
  .example-standalone-trigger {
    background-color: transparent;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
  
    
  }

  .inprogress {
    background-color: rgb(168, 168, 194);
    color: blue;
}
.done {
    background-color: rgb(217, 235, 210);
    color: green;
}
.todo{
    background-color: azure;
    color: black;
}
  
  .example-menu-item:hover {
    background-color: rgb(208, 208, 208);
  }
  
  .example-menu-item:active {
    background-color: rgb(170, 170, 170);
  }
  
  .example-standalone-item {
    background-color: rgb(239, 239, 239);
  }
  .example-standalone-item:hover {
    background-color: rgb(208, 208, 208);
  }
  .example-standalone-item[aria-expanded='true'] {
    background-color: rgb(208, 208, 208);
  }
  