<div class="detail-backlog">
    <div class="detail-backlog-top">
        <mat-icon style="color: greenyellow;">turned_in</mat-icon>
        {{item?.name}}
        <mat-icon> cancel</mat-icon>
        <mat-icon>lock_open</mat-icon>
        <mat-icon>remove_red_eye</mat-icon>
        <mat-icon>thumb_up_alt</mat-icon>
        <mat-icon>share</mat-icon>
        <mat-icon>more_horiz</mat-icon>
        <mat-icon (click)="onClose()">close</mat-icon>
        </div>
    <div class="row">
        <h3 class="mt-4 ml-1">  {{item?.description}}</h3>
    </div>
    <button [cdkMenuTriggerFor]="menu" class=" example-standalone-trigger {{item?.process}}">{{item?.process}} <mat-icon>arrow_drop_down</mat-icon></button>

    <ng-template #menu>
      <div class="example-menu" cdkMenu>
        <button style="margin-top: 5px; margin-bottom: 5px;" *ngFor="let process of filteredProcess" class=" example-menu-item" cdkMenuItem (click)="onChangeProcess(item,process)">{{process}}</button>
      </div>
    </ng-template>
    
</div>