<div class="container-fluid">
    <div class="row">
        <div style="background: aquamarine; height: 93vh;" class="col-3">
            <div>
                <mat-card class="mt-3">
                    <form [formGroup]="todoForm">
                        <mat-form-field appearance="outline">
                            <mat-label>Outline form field</mat-label>
                            <input formControlName="item" matInput placeholder="Placeholder">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-hint>Hint</mat-hint>
                          </mat-form-field>
                          <button [disabled]="!todoForm.valid" *ngIf="!isUpdating" mat-raised-button color="primary" (click)="addTask()">Add</button>
                          <button  *ngIf="isUpdating" mat-raised-button color="primary" (click)="updateTask()">Update</button>
                    </form>
                </mat-card>
            </div>
        </div>
        <div class="col-md-9">
            <div cdkDropListGroup> 
                <div class="row">
                    <div class="col-md-4">
                        <div class="example-container">
                            <h2>To do<span *ngIf="tasks.length > 0"> - {{tasks.length}}</span></h2>
                        
                            <div
                              cdkDropList
                              [cdkDropListData]="tasks"
                              class="example-list"
                              (cdkDropListDropped)="drop($event)">
                              <div class="example-box" *ngFor="let item of tasks; let i = index" cdkDrag>{{item.description}}
                                <div class="box">
                                    <button mat-icon-button color="warn" (click)="deleteTask(i)"><mat-icon>delete</mat-icon></button>
                                    <button mat-icon-button color="warn" (click)="editTask(item,i)"><mat-icon>edit</mat-icon></button>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-4">
                        <div class="example-container">
                            <h2>Inprogress <span *ngIf="inprogress.length > 0"> - {{inprogress.length}}</span></h2>
                        
                            <div
                              cdkDropList
                              [cdkDropListData]="inprogress"
                              class="example-list"
                              (cdkDropListDropped)="drop($event)">
                              <div class="example-box" *ngFor="let item of inprogress; let i = index" cdkDrag>{{item.description}}
                                <div class="box">
                                    <button mat-icon-button color="warn" (click)="deleteTask(i)"><mat-icon>delete</mat-icon></button>
                                    <button mat-icon-button color="warn" (click)="editTask(item,i)"><mat-icon>edit</mat-icon></button>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-4">
                        <div class="example-container">
                            <h2>Done<span *ngIf="done.length > 0"> - {{done.length}}</span></h2>   
                            <div
                              cdkDropList
                              [cdkDropListData]="done"
                              class="example-list"
                              (cdkDropListDropped)="drop($event)">
                              <div class="example-box" *ngFor="let item of done ; let i = index" cdkDrag>{{item.description}}
                                <div class="box">
                                    <button mat-icon-button color="warn" (click)="deleteTask(i)"><mat-icon>delete</mat-icon></button>
                                    <button mat-icon-button style="color: forestgreen;"><mat-icon>check_circle</mat-icon></button>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>